body {
    background-color:rgb(246, 222, 226) ;
}
.fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.titulo {
    color: rgb(37, 40, 238);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: bold;
    text-decoration: underline;
    font-size: 50px;
    padding: 20px;
}
.subtitulo {
    color: rgb(95, 174, 227);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: bold;
    font-size: 30px;
}
.azul {
    color: rgb(40, 13, 240);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: bold;
    font-size: 35px;

}
#azul {
    color: rgb(13, 172, 240);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}
#fuente {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgba(23, 13, 227, 0.893);
}

.inline {
    display: block;
    color: blueviolet;
}
.box {
    border: 2px solid black;
    background-color: rgb(199, 199, 199);
    padding: 30 px;
    margin: 10 px 8 px 6px 4px;
    box-sizing: border-box;
}